 // Page Layout
 #main {
	display: flex;
	height: 100vh;
	overflow: hidden;
}


// Content
.content {
	flex-grow: 1;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
}

// Global

.row {
	// margin: 0;
  }
  